<h1>User Profile Page</h1>
<%= @user.id %>
<%= @user.username %>
<!-- <%= @user.avatar %> -->
<%= image_tag(current_user.avatar.url(:thumb)) %>



<%= link_to "Add Image", new_user_image_path(@user) %>
