<h1>Image Page</h1>
<br>
<%= image_tag(@image.avatar.url(:thumb)) %>

<%= @image.name%>
<%= @image.description%>
<hr>
<% if @image.comments.any? %>
  <% @image.comments.each do |comment| %>
    <p><%= comment.author %></p>
    <p><%= comment.content %></p>

    <% if is_admin? %>


      <%= link_to "Edit Comment", edit_image_comment_path(@image, comment) %> |
      <%= link_to "Delete this comment", image_comment_path(@image, comment),
              :data => {:confirm => "Are you sure?",
                :method => "delete"} %>

      <% end %>

  <br>
  <hr>
  <% end %>
<% else %>
<p>There are no comments yet!</p>
<% end %>
<%= link_to "Add Comment", new_image_comment_path(@image) %>
